[Unit]
Description=GCP CDN Firewall Block
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/cdn_block.sh

[Install]
WantedBy=multi-user.target
